<div class="col-md-12">
  <% if signed_in? %>
      <%= form_for(@rate) do |f| %>
          <div class="field">
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :rate %>
            <%= f.select :rate, 1..5 %>
            <%= f.text_area :comment, placeholder: "Leave your comment..." %>
            <%= f.hidden_field :hotel_id, value: @hotel.id %>
          </div>
          <%= f.submit "Rate", class: "btn btn-large btn-primary" %>
      <% end %>
  <% else %>
      <%= link_to "Please sign in to rate", signin_path %>
  <% end %>

</div>