<% provide(:title, 'Rating') %>
<div class="container">
    <h1>Rating</h1>
    <div class="row">
        
        <%= will_paginate @hotels, renderer: BootstrapPagination::Rails %>
        <div class="col-md-11">
            <%= link_to 'Add new hotel', new_hotel_path, class: 'btn btn-default btn-block' %>
        </div>
        <div class="list-group">
            <% @hotels.each do |hotel| %>
                <div class="col-md-11">
                    <%= render hotel %>
                </div>
                <div class="col-md-1">
                    <% if current_user && current_user.admin? %>
                        <%= link_to 'reject', '/reject/'+hotel.id.to_s, class: 'btn btn-warning btn-xs btn-block' %> 
                        <%= link_to 'edit', edit_hotel_path(hotel), class: 'btn btn-info btn-xs btn-block' %> 
                        <%= link_to 'delete', hotel, { method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs btn-block' } %>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="col-md-11">
            <%= link_to 'Add new hotel', new_hotel_path, class: 'btn btn-default btn-block' %>
        </div>

        <%= will_paginate @hotels, renderer: BootstrapPagination::Rails %>
        
    </div>
</div>

