<% provide(:title, 'Add new Hotel') %>
<h1>Add new Hotel</h1>

<div class="row">
  <div class="span6 offset3">
	<%= form_for(@hotel) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  
	    <%= f.label :title %>
	    <%= f.text_field :title %>

	    <%= f.label :stars %>
	    <%= f.select :stars, 0..7 %>

        <%= f.label :breakfast %> 
        <%= f.check_box :breakfast %>

        <%= f.label :description %> 
        <%= f.text_area :description %>

        <%= f.label :price %>
	    <%= f.text_field :price %>

	    <%= fields_for @address do |fa| %>
          <%=fa.label :country %>
          <%=fa.text_field :country %>
          <%=fa.label :city %>
          <%=fa.text_field :city %>
          <%=fa.label :state %>
          <%=fa.text_field :state %>
          <%=fa.label :street %>
          <%=fa.text_field :street %>
        <% end %>

	  <%= f.submit "Save", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>